.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 97.5vh;
}

.create {
  margin-top: -30px;
  color: #73d6f7;
}

.create-post {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

label {
  font-weight: 600;
}

.create-btn {
  margin-top: 10px;
}

.title,
.desc {
  width: 280px;
  background-color: white;
  border-radius: 10px;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div {
  margin-top: 40px;
}

.create-post-box {
  display: flex;
  justify-content: center;
  height: 32vh;
  width: 25vh;
  border-radius: 10px;
  background-color: rgb(223, 246, 255);
  flex-direction: column;
  font-family: 'Anonymous Pro', monospace;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
}
