.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 97.5vh;
}

.create {
  margin-top: -30px;
  color: #73d6f7;
}

.create-post {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

label {
  font-weight: 600;
}

.create-btn {
  margin-top: 10px;
}

.title,
.desc {
  width: 280px;
  background-color: white;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div {
  margin-top: 40px;
}
