* {
  box-sizing: border-box;
}
.post-card {
  display: grid;
  grid-template-rows: 2fr auto 2fr;
  align-items: flex-start;
  font-family: 'Anonymous Pro', monospace;
  border: 1px solid rgb(71, 181, 255);
  background-color: rgb(223, 246, 255);
  color: black;
  height: 35vh;
  width: 50vw;
  margin: 1vh;
  min-width: 175px;
  border-radius: 2px;
  z-index: 3;
  padding: 1vh;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.user-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.username-display {
  font-size: 2vh;
}

.post-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.post-options {
  height: 3vh;
  width: 3vh;

  background-color: rgb(71, 181, 255);
}

.like-comment {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.like {
  display: flex;
  margin-top: 2vh;
  cursor: pointer;
}

.like-icon {
  height: 3vh;
}

.user-post-section {
  display: flex;
  gap: 2vh;
}
