.main-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 50vw;
  padding: 10vh;
  background-color: rgb(37, 109, 133);
  box-shadow: 2px 0px 8px -2px rgba(6, 40, 61, 0.66);
  -webkit-box-shadow: 2px 0px 8px -2px rgba(6, 40, 61, 0.66);
  -moz-box-shadow: 2px 0px 8px -2px rgba(6, 40, 61, 0.66);
  z-index: 2;
}

.particle-bg {
  width: 100vw;
  z-index: 1;
}

.posts-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 246, 255);
  background-image: url('../../../public/white-hex2.jpg');
}

.loading-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  align-items: center;
  justify-content: center;
  display: flex;
}
.active {
  text-decoration: none;
}
