.header {
  font-size: 2vh;
  background-color: rgb(43, 43, 43);
  color: white;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}
