.main-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  flex-direction: column;
}

.container-input {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  margin-top: -20px;
  align-items: center;
}

.email-input {
  margin: 20px;
}

.password-input {
  margin: 20px;
}

p {
  margin: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.button-box {
  margin-top: 25px;
}

.nav {
  text-decoration: none;
  opacity: 0.7;
}

.active {
  text-decoration: none;
  opacity: 1;
}

.input-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.icon {
  padding-right: 10px;
}

.email-input,
.password-input {
  background-color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
