.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 97.5vh;
}

.create {
  /* margin-top: -30px; */
  color: #64b2cd;
  margin-bottom: 30px;
}

.edit-post {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

.create-btn {
  margin-top: 10px 25px;
}

.desc {
  width: 280px;
  background-color: white;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div {
  margin-top: 30px;
}

#del-btn {
  margin-right: 35px;
}

.title-field {
  margin-bottom: 20px;
}
