.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
}

.create {
  margin-top: -30px;
  color: #64b2cd;
}

.edit-post {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

.create-btn {
  margin-top: 10px;
}

.title,
.desc {
  width: 280px;
  background-color: white;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div {
  margin-top: 40px;
}
